{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
	<f:flashMessages />

	<div id="tx_teufelsfairs" class="tx_teufelsfairs row">
		<f:for each="{fairs}" as="fair" iteration="iterator">
			<div class="col-xs-12 col-sm-6 col-md-3 fair">
				<f:if condition="{fair.logo}">
					<div class="fair--logo">
						<figure>
							<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								 data-echo="{fair.logo.originalResource.publicUrl}"
								 title="{fair.logo.originalResource.title}"
								 alt="{fair.logo.originalResource.alternative}"
								 class="b-lazy opacity_0" />
						</figure>
					</div>
				</f:if>
				<div class="fair--title">
					<h4>{fair.title}</h4>
				</div>
				<div class="fair--dates">
					<span class="date">
						<f:if condition="{fair.end}">
							<f:then>
								<f:if condition="{f:format.date(date: fair.start, format: 'Y')} == {f:format.date(date: fair.end, format: 'Y')}">
									<f:then>
										{f:if(condition: '{fair.start}', then: '{f:format.date(date: fair.start, format: \'%d.%m\')}', else: '')} {f:if(condition: '{fair.end}', then: ' - {f:format.date(date: fair.end, format: \'%d.%m.%Y\')}', else: '')}
									</f:then>
									<f:else>
										{f:if(condition: '{fair.start}', then: '{f:format.date(date: fair.start, format: \'%d.%m.%Y\')}', else: '')} {f:if(condition: '{fair.end}', then: ' - {f:format.date(date: fair.end, format: \'%d.%m.%Y\')}', else: '')}
									</f:else>
								</f:if>
							</f:then>
							<f:else>
								{f:if(condition: '{fair.start}', then: '{f:format.date(date: fair.start, format: \'%d.%m.%Y\')}', else: '')}
							</f:else>
						</f:if>
					</span>
				</div>
				<f:if condition="{fair.city}">
					<div class="fair--city">
						<p>{fair.city}</p>
					</div>
				</f:if>
				<f:if condition="{fair.location}">
					<div class="fair--location">
						<p>{fair.location}</p>
					</div>
				</f:if>

				<f:if condition="{fair.details}">
					<div class="fair--details">
						<p>{fair.details}</p>
					</div>
				</f:if>

				<f:if condition="{fair.link}">
					<div class="fair--links">
						<f:link.typolink parameter="{fair.link}" class="more plus_rotate transition">
							<v:variable.set name="aLink" value="{v:iterator.explode(content: '{fair.link}', glue: ' - ')}"/>
							<f:if condition="{aLink.1}">
								<f:then>
									{aLink.1}
								</f:then>
								<f:else>
									Web
								</f:else>
							</f:if>
						</f:link.typolink>
					</div>
				</f:if>

				<f:if condition="{fair.file}">
					<div class="fair--files">
						{fair.file}
					</div>
				</f:if>
			</div>



			<f:if condition="{v:math.modulo(a: '{iterator.cycle}', b: 4)} == 0">
				<div class="i_{iterator.cycle} m_{v:math.modulo(a: '{iterator.cycle}', b: 4)} clearfix hidden-xs">&nbsp;</div>
			</f:if>
			<f:if condition="{v:math.modulo(a: '{iterator.cycle}', b: 2)} == 0">
				<div class="i_{iterator.cycle} m_{v:math.modulo(a: '{iterator.cycle}', b: 2)} clearfix visible-sm">&nbsp;</div>
			</f:if>
		</f:for>
	</div>
</f:section>