
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Single View for Fair</h1>

<f:flashMessages />
<f:render partial="Fair/Properties" arguments="{fair:fair}" />
<f:link.action action="list">Back to list</f:link.action><br />
<f:link.action action="new">New Fair</f:link.action>
</f:section>