
<table class="tx-teufels-fairs" >
	<tr>
		<td>
			<f:translate key="tx_teufelsfairs_domain_model_fair.logo" />
		</td>
		<td>
				<f:image src="{fair.logo.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_teufelsfairs_domain_model_fair.title" />
		</td>
		<td>
		{fair.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_teufelsfairs_domain_model_fair.start" />
		</td>
		<td>
		{fair.start -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_teufelsfairs_domain_model_fair.end" />
		</td>
		<td>
		{fair.end -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_teufelsfairs_domain_model_fair.city" />
		</td>
		<td>
		{fair.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_teufelsfairs_domain_model_fair.location" />
		</td>
		<td>
		{fair.location}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_teufelsfairs_domain_model_fair.details" />
		</td>
		<td>
		{fair.details}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_teufelsfairs_domain_model_fair.link" />
		</td>
		<td>
		{fair.link}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_teufelsfairs_domain_model_fair.file" />
		</td>
		<td>
				<a href="{fair.file.originalResource.publicUrl}">
					{fair.file.originalResource.name}
				</a>
		</td>
	</tr>
</table>