@import "../../../../../teufels_thm_custom/Resources/Private/Assets/Less/Custom/variables.less";

#tx_teufelsfairs {
  padding-top: 40px;
}
#tx_teufelsfairs.row {
  margin-left: 0;
  margin-right: 0;
}
#tx_teufelsfairs p {
  margin: 0;
}
#tx_teufelsfairs h4 {
  font-size: 20px;
  font-size: 2rem;
}
#tx_teufelsfairs .fair {
  margin-bottom: 40px;
  //@media (min-width: 992px) {
  //  margin-bottom: 0;
  //}
}
#tx_teufelsfairs .fair--logo {
  height: 100px;
  margin-bottom: 20px;
}
#tx_teufelsfairs .fair--logo img {
  max-height: 100px;
  width: auto;
}